<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>Yo! Website</title>
</head>
<body>
  {{> header}}
  <p><h2 style="color:red">{{screamIT Welcome}}</h2></p>
  {{> footer}}
</body>
</html>
